<template>
  <div>
    <PostComponent v-if="step == 0" :stagramData="stagramData" />
    <!-- 필터선택페이지 -->
    <div v-if="step == 1">
      <div
        class="upload-image"
        :class="addfilter"
        :style="`background-image: url(${imgUrl})`"
      ></div>
      <div class="filters">
          <FilterBox
            :onefilter="onefilter" v-for="onefilter in filter" :key="onefilter"
            :imgUrl="imgUrl"
          >
            <span>{{onefilter}}</span> <!-- slot문법  -->
          </FilterBox>
      </div>
    </div>

    <!-- 글작성페이지 -->
    <div v-if="step == 2">
      <div
        class="upload-image"
        :class="addfilter"
        :style="`background-image: url(${imgUrl})`"
      >{{ addfilter }}</div>
      <div class="write">
        <textarea
          @input="$emit('write', $event.target.value)"
          class="write-box"
        >
write!</textarea
        >
      </div>
    </div>

    <div v-if="step == 3"> 
      <MypageComponentVue/>
    </div>
  </div>
</template>

<script>
import PostComponent from "./PostComponent";
import FilterBox from "./FilterBox.vue";
import filter from "../filter.js";
import MypageComponentVue from './MypageComponent.vue';

export default {
  name: "ContainerComponent",
  components: {
    PostComponent,
    FilterBox,
    MypageComponentVue
  },
  mounted(){
    this.emitter.on('fire-filter', (a)=>{
      this.addfilter = a;
    })
  },
  methods: {},
  props: {
    stagramData: Array,
    morePostData: Object,
    step: Number,
    imgUrl: String,
  },
  data() {
    return {
      filter: filter,
      addfilter: ''
    };
  },
};
</script>

<style>
.upload-image {
  width: 100%;
  height: 450px;
  background: cornflowerblue;
  background-size: cover;
}
.filters {
  overflow-x: scroll;
  white-space: nowrap;
}
.filter-1 {
  width: 100px;
  height: 100px;
  background-color: cornflowerblue;
  margin: 10px 10px 10px auto;
  padding: 8px;
  display: inline-block;
  color: white;
  background-size: cover;
}
.filters::-webkit-scrollbar {
  height: 5px;
}
.filters::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.filters::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
.filters::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.write-box {
  border: none;
  width: 90%;
  height: 100px;
  padding: 15px;
  margin: auto;
  display: block;
  outline: none;
}
</style>