<template>
  <div :class="onefilter" class="filter-item" :style="`background-image: url(${imgUrl})`">
    <slot></slot>
    <button @click="fire">발싸</button>
  </div>
</template>

<script>
export default {
    name: 'FilterBox',
    props:{
        imgUrl: String,
        onefilter: String
    },
    methods:{
      fire(){
        this.emitter.emit('fire-filter', this.onefilter);
      }
    },
    data(){
        return{}
    },
};
</script>

<style>
.filter-item {
  width: 100px;
  height: 100px;
  margin: 10px 10px 10px auto;
  padding: 8px;
  display: inline-block;
  color: white;
  background-size: cover;
  background-position: center;
}
</style>