<template>
    <div style="padding: 10px">
      <h4>팔로워</h4>
      <input placeholder="?" @input="inputSearch" />
      <div v-for="follower in followerData" :key="follower">
        <div class="post-header">
          <div class="profile" :style="`background-image : url(${follower.image})`"></div>
          <span class="profile-name">{{ follower.name }}</span>
        </div>
      </div>
    </div>
</template>

<script>
import { onMounted, ref } from "vue";
import axios from "axios";
export default {
  name: "MypageComponent",
  setup() {
    // 데이터 생성 / 조작 가능
    // methods, computed, watch, hook제작 가능
    let followerData = ref([]);
    let orgData = ref([]);

    onMounted(() => {
      axios.get("/followerData.json").then((res) => {
        console.log("res:::",res.data);
        followerData.value = res.data;
        orgData.value = res.data;
      });
    });

    // watch( newData , () => {
    //   if(newData.value.length != 0){
    //     followerData.value = {...newData.value};
    //   }
    // } )

    function inputSearch(event){
      // newData : 배치해야할 새로운 데이터
      var newData = ref([]); 

      // match check
      orgData.value.map((value)=>{
        if(value.name.includes(event.target.value)){
          newData.value.push(value);
        }
      });

      // 매치된게 있다면
      if(newData.value.length != 0){
        followerData.value = {...newData.value};
      }else{
        followerData.value = {...orgData};
      }
    }

    return {
      followerData,
      inputSearch
    };
  },
};
</script>

<style></style>
