<template>
  <div class="post" v-for="data, idx in stagramData" :key="data">
    <div class="post-header">
      <div class="profile" :style="`background-image: url(${data.userImage})`"></div>
      <span class="profile-name">{{data.name}}</span>
    </div>
    <div :class="data.filter" class="post-body" :style="`background-image: url(${data.postImage})`">{{ data.filter }}</div>
    <div class="post-content">
      <p>{{$store.state.likes[idx]}} Likes 
        <button v-if="$store.state.isClickLikes[idx] == false" @click="$store.commit('addLikes', idx)">♡</button>
        <button v-if="$store.state.isClickLikes[idx] == true" @click="$store.commit('minusLikes', idx)">♥</button>
      </p>
      <p><strong>{{data.name}}</strong> {{data.content}}</p>
      <p class="date">{{data.date}}</p>
    </div>
  </div>
</template>

<script>
import { useStore } from 'vuex';
export default {
  name: 'PostComponent',
  mounted(){
    const store = useStore();
    this.stagramData.forEach((data, idx)=>{
      const like = data.likes
      store.commit('updateLikes', {like, idx});
    })
  },
  setup(){
  },
  props:{
    stagramData: Array
  },
};
</script>

<style>
.post {
  width: 100%;
}
.profile {
  background-image: url("https://picsum.photos/100?random=0");
  width: 30px;
  height: 30px;
  background-size: 100%;
  border-radius: 50%;
  float: left;
}
.profile-name {
  display: block;
  float: left;
  padding-left: 10px;
  padding-top: 7px;
  font-size: 14px;
}
.post-header {
  height: 30px;
  padding: 10px;
}
.post-body {
  background-image: url("https://picsum.photos/600?random=0");
  height: 450px;
  background-position: center;
  background-size: cover;
}
.post-content {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
}
.date {
  font-size: 11px;
  color: grey;
  margin-top: -8px;
} 
</style>