<template>
  <div class="header">
    <ul class="header-button-left" @click="step--">
      <li>Cancel</li>
    </ul>
    <ul class="header-button-right" @click="step++" v-if="step != 2">
      <li>Next</li>
    </ul>
    <ul v-if="step == 2" class="header-button-right" @click="publish">
      <li>발행</li>
    </ul>
    <img src="./assets/logo.png" class="logo" />
  </div>

  <h4>안녕하세요 {{ myName }}님!</h4>
  <h4>당신의 나이는 {{ myAge }}입니다.</h4>
  <button @click="updateName()">이름변경</button>
  <button @click="$store.commit('addAge')">나이 증가</button>
  
  <button @click="$store.dispatch('getData')">더보기 버튼</button>

  <ContainerComponent
    :stagramData="stagramData"
    :step="step"
    :imgUrl="imgUrl"
    @write="writeData = $event"
  />
  <button @click="addMorePost">더보기</button>

  <div class="footer">
    <ul class="footer-button-plus">
      <input @change="upload" type="file" id="file" class="inputfile" />
      <label for="file" class="input-plus">+</label>
    </ul>
  </div>

</template>

<script>
import stagramData from "./stagramData";
import ContainerComponent from "./components/ContainerComponent.vue";
import axios from "axios";
import { mapMutations, mapState } from 'vuex';

export default {
  name: "App",
  data() {
    return {
      stagramData: stagramData,
      count: 0,
      step: 3,
      imgUrl: "",
      writeData: "",
      applyFilter: "",
    };
  },
  mounted() {
    // 작명이 unique하게 관리되어야한다.
    // 많이 쓰면 관리가 힘들어지기 떄문에(어디 컴포넌트에서 보낸지 알고..) 이 대체품으로
    // vuex를 권장함
    this.emitter.on("fire-filter", (a) => {
      console.log("emitter발싸 내용은 무엇일까");
      this.applyFilter = a;
    });
  },
  computed: {
    ...mapState({ myName : 'name' , myAge : 'age' , myLikes:'likes'})
    // ...mapState(['name', 'age'])
  },
  components: {
    ContainerComponent,
  },
  methods: {
    ...mapMutations([
      'updateName',
      'addAge'
    ]),
    now(){
      return new Date();
    },
    setWriteData(data) {
      this.writeData = data;
      console.log("this.writeDaa", data);
    },
    addMorePost() {
      const url = `https://codingapple1.github.io/vue/more${this.count}.json`;
      axios
        .get(url)
        .then((res) => {
          console.log("res", res.data);
          this.stagramData.push(res.data);
          this.count++;
          return true;
        })
        .catch((err) => {
          console.log("error:::", err);
        });
    },
    upload(e) {
      // 자바스크립트로 파일 업로드 하는 방법 - 브라우저에서 제공하는 이미지 업로드 함수를 이용하면 된다.
      // e => event
      let file = e.target.files; // 업로드한 파일 - array
      console.log("files", file[0]);
      let imgUrl = URL.createObjectURL(file[0]);
      this.imgUrl = imgUrl;
      console.log("fileImg", this.imgUrl);
      this.step++;
    },
    publish() {
      let data = {
        name: "Kim Hyun",
        userImage: "https://picsum.photos/100?random=3",
        postImage: this.imgUrl,
        likes: 36,
        date: "May 15",
        liked: false,
        content: this.writeData,
        filter: this.applyFilter,
      };
      console.log("this.writeData", this.writeData);
      this.stagramData.unshift(data);
      this.step = 0;
    },
  },
};
</script>

<style>
@import "style.css";
body {
  margin: 0;
}
ul {
  padding: 5px;
  list-style-type: none;
}
.logo {
  width: 22px;
  margin: auto;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 13px;
}
.header {
  width: 100%;
  height: 40px;
  background-color: white;
  padding-bottom: 8px;
  position: sticky;
  top: 0;
}
.header-button-left {
  color: skyblue;
  float: left;
  width: 50px;
  padding-left: 20px;
  cursor: pointer;
  margin-top: 10px;
}
.header-button-right {
  color: skyblue;
  float: right;
  width: 50px;
  cursor: pointer;
  margin-top: 10px;
}
.footer {
  width: 100%;
  position: sticky;
  bottom: 0;
  padding-bottom: 10px;
  background-color: white;
}
.footer-button-plus {
  width: 80px;
  margin: auto;
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  padding-top: 12px;
}
.sample-box {
  width: 100%;
  height: 600px;
  background-color: bisque;
}
.inputfile {
  display: none;
}
.input-plus {
  cursor: pointer;
}
#app {
  box-sizing: border-box;
  font-family: "consolas";
  margin-top: 60px;
  width: 100%;
  max-width: 460px;
  margin: auto;
  position: relative;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}
</style>
